.sidebar-list {
  width: 250px;
  min-width: 250px; 
  max-width: 250px;
  border-right: 1px solid #e0e0e0;
  
  z-index: 10; 
  background-color: #f5f5f5; 
}
.search-field {
  width: 90%;
  margin: 16px auto;
  display: block;
}