
<h1 class="login-title">Login </h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    
    <input matInput formControlName="username" placeholder="Enter username">
    
    @if (loginForm.get('username')?.hasError('required')) {
      <mat-error>Username required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    @if (loginForm.get('password')?.hasError('required')) {
      <mat-error>Password required</mat-error>
    }
    @if (loginForm.get('password')?.hasError('minlength')) {
      <mat-error>Minimum 8 characters</mat-error>
    }
  </mat-form-field>
  @if (errorMessage) {
  <div class="error-alert" role="alert">
    <mat-icon color="warn" class="error">error</mat-icon>
    <span class="error-text">{{ errorMessage }}</span>
  </div>
}
  <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
    Login
  </button>

</form>