.login-title {
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px; 
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}
.error-alert {
  display: flex;
  align-items: flex-start; 
  gap: 12px;
  
  background-color: #ffebee; 
  border: 1px solid #ef9a9a; 
  color: #c62828;            
  
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 20px;       
  
  mat-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    flex-shrink: 0; 
  }

  .error-text {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 2px; 
  }
}