services:
  identity-service:
    build:
      context: .
      dockerfile: Services/IdentityService/IdentityService.API/Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__IdentityConnection}
      - Jwt__Key=${JWT_SECRET}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
    depends_on:
      postgres:
        condition: service_healthy 


  postgres:
    image: postgres:13.2-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  fileapiservice:
    build:
      context: .
      dockerfile: Services/FileApiService/FileApiService.API/Dockerfile
    ports:
      - "8082:8082"
    restart: unless-stopped
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__FileApiConnection}
      - JwtSecret=${JWT_SECRET}
      - RabbitMq__User=${RABBITMQ_USER}
      - RabbitMq__Pass=${RABBITMQ_PASS}
      - RabbitMq__Host=rabbit-mq
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:8082
    depends_on:
      rabbit-mq:
        condition: service_healthy
      postgres:
        condition: service_healthy
      filestorageservice:
        condition: service_started


  filestorageservice:
    build:
      context: .
      dockerfile: Services/FileStorageService/FileStorageService.API/Dockerfile
    ports:
      - "8083:8083"
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:8083
      - RabbitMq__User=${RABBITMQ_USER}
      - RabbitMq__Pass=${RABBITMQ_PASS}
      - RabbitMq__Host=rabbit-mq
      - Minio__Endpoint=minio:9000
      - Minio__AccessKey=${MINIO_ACCESS_KEY}
      - Minio__SecretKey=${MINIO_SECRET_KEY}
      - Minio__BucketName=files
      - Minio__WithSSL=false
    depends_on:
      minio:
        condition: service_healthy
      rabbit-mq:
        condition: service_healthy
    

  minio:
    image: minio/minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}   
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 5s
      timeout: 3s
      retries: 20

  rabbit-mq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq 
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5

  ocelot:
    build:
      context: .
      dockerfile: Gateway/OcelotApiGateway/Dockerfile
    ports:
      - "6002:8080"
    restart: unless-stopped
    environment:
      - Jwt__Key=${JWT_SECRET}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
    depends_on:
      - identity-service
      - fileapiservice
      - filestorageservice

  pg-admin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_started

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
volumes:
  postgres_data:
  minio_data:
  rabbitmq_data:
  pgadmin_data:
  elastic_data: